.forapper{
    width: 120vw;
    height: 130vh;
    background-color:rgb(0,0,0,0.5);
    position:fixed;
    top: 0;
    /* filter: blur(5px); */
    backdrop-filter:blur(.5px);
    padding-bottom: 30rem;
     margin-top: 6rem;
  
  }
  .adorm{
    width: 20%;
    position: absolute;
    left:38%;
    top:10%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background : white;
  }
  .trncs{
    margin:0px;
    padding: 0px;
    /* font-weight: ; */
    font-size: larger;
    /* border:1px solid red; */

  }
  .em{
    height: 3rem;
  }
  input:focus-visible{
    /* border: 1px solid red; */
  }